# Server environment variables
#PROTECTED_PATHS="/auth/reset-password,/profile" #OPTIONAL, comma separated list of protected paths
#SUPABASE_SERVICE_ROLE_KEY=ilgnkuamfvrukpqxpgcu #REQUIREDilgnkuamfvrukpqxpgcu.sb_publishable_MyKCfnPVHF4JL4XaaveuFQ_CSoxbk4T

# Client environment variables
#NEXT_PUBLIC_TMDB_ACCESS_TOKEN="your_tmdb_access_token" #REQUIRED, not the api key
#NEXT_PUBLIC_SUPABASE_URL=https://ilgnkuamfvrukpqxpgcu.supabase.co/rest/v1/ #REQUIREDhttps://ilgnkuamfvrukpqxpgcu.supabase.co/rest/v1/
#NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MyKCfnPVHF4JL4XaaveuFQ_CSoxbk4T #REQUIREDsb_publishable_MyKCfnPVHF4JL4XaaveuFQ_CSoxbk4T
#NEXT_PUBLIC_CAPTCHA_SITE_KEY=6LfuCzgtAAAAABvWY5pNX-xHAc_BfPAYR0X1qyAz #OPTIONAL, if you want to use captcha 6LfuCzgtAAAAABvWY5pNX-xHAc_BfPAYR0X1qyAz
#NEXT_PUBLIC_AVATAR_PROVIDER_URL=your_avatar_provider_url #OPTIONAL, avatar for your users
PROTECTED_PATHS=/auth/reset-password,/profile
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpanBqcmVldHNxZHJ5c3ZocWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzI2NzA5NCwiZXhwIjoyMDk4ODQzMDk0fQ.lJ8ww7uXDUITeZocWTRqkXXFO9gWR_EgxdzUP6HmVK0
NEXT_PUBLIC_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiYWFmMzVjNjBiNmI0MTgzMDg2MzQwZWVkYjk0ZmY2MyIsIm5iZiI6MTc4Mjk0MDY4My42MTc5OTk4LCJzdWIiOiI2YTQ1ODQwYjdhZmU4YTFhNmY3ZDNiMTEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.dxxPr-tdHXhhw9pI9pMaRJ6uQ7Mkt1GOQCkMPOj1kj4
NEXT_PUBLIC_SUPABASE_URL=https://eijpjreetsqdrysvhqfg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_JCEHnsWlgj_Nzqb7PQL_GQ_xelLFc2v
NEXT_PUBLIC_CAPTCHA_SITE_KEY=test
NEXT_PUBLIC_AVATAR_PROVIDER_URL=https://api.dicebear.com/7.x/avataaars/svg