# Server environment variables
#PROTECTED_PATHS="/auth/reset-password,/profile" #OPTIONAL, comma separated list of protected paths
#SUPABASE_SERVICE_ROLE_KEY=ilgnkuamfvrukpqxpgcu #REQUIREDilgnkuamfvrukpqxpgcu.sb_publishable_MyKCfnPVHF4JL4XaaveuFQ_CSoxbk4T

# Client environment variables
#NEXT_PUBLIC_TMDB_ACCESS_TOKEN="your_tmdb_access_token" #REQUIRED, not the api key
#NEXT_PUBLIC_SUPABASE_URL=https://ilgnkuamfvrukpqxpgcu.supabase.co/rest/v1/ #REQUIREDhttps://ilgnkuamfvrukpqxpgcu.supabase.co/rest/v1/
#NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MyKCfnPVHF4JL4XaaveuFQ_CSoxbk4T #REQUIREDsb_publishable_MyKCfnPVHF4JL4XaaveuFQ_CSoxbk4T
#NEXT_PUBLIC_CAPTCHA_SITE_KEY=6LfuCzgtAAAAABvWY5pNX-xHAc_BfPAYR0X1qyAz #OPTIONAL, if you want to use captcha 6LfuCzgtAAAAABvWY5pNX-xHAc_BfPAYR0X1qyAz
#NEXT_PUBLIC_AVATAR_PROVIDER_URL=your_avatar_provider_url #OPTIONAL, avatar for your users
PROTECTED_PATHS=/profile
SUPABASE_SERVICE_ROLE_KEY=test
NEXT_PUBLIC_TMDB_ACCESS_TOKEN=test
NEXT_PUBLIC_SUPABASE_URL=https://test.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=test
NEXT_PUBLIC_CAPTCHA_SITE_KEY=test
NEXT_PUBLIC_AVATAR_PROVIDER_URL=https://api.dicebear.com/7.x/avataaars/svg