# Copy this file and rename to .env

PROTECTED_PATHS=/profile,/library,/settings

SUPABASE_SERVICE_ROLE_KEY=test

NEXT_PUBLIC_TMDB_ACCESS_TOKEN=test

NEXT_PUBLIC_SUPABASE_URL=https://test.supabase.co

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=test

NEXT_PUBLIC_CAPTCHA_SITE_KEY=test

NEXT_PUBLIC_AVATAR_PROVIDER_URL=https://api.dicebear.com/7.x/avataaars/svg
